.block.scroll-blocks {
  position: fixed;
  bottom: 0;
  left: 50%;
  transition: all 1s;
  transform: translateX(-50%) translateY(100%);
}

.block.scroll-blocks.scroll-blocks--visible {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  z-index: 9;
  transition: all 1s;
}
