.block.scroll-blocks.scroll-blocks--visible {
  background: rgba(255, 255, 255, 0.75);
}

.scroll-blocks__close-button {
  position: absolute;
  right: -16px;
  top: 0;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.scroll-blocks__close-button:hover {
  opacity: 1;
}

.scroll-blocks__close-button::before,
.scroll-blocks__close-button::after {
  position: absolute;
  left: 15px;
  top: 7px;
  content: '';
  height: 19px;
  width: 2px;
  background-color: white;
}

.scroll-blocks__close-button::before {
  transform: rotate(45deg);
}

.scroll-blocks__close-button::after {
  transform: rotate(-45deg);
}
